<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8 flex justify-between items-center">
    <div class="flex flex-col text-sm py-2" >
            Antonio Cicero Azevedo
    </div>
    <p class="text-sm py-2 flex gap-4">
      {% if site.github != "" %}
        <a href="{{ site.github }}" class="hover:text-blue-500">Github</a> 
      {% endif %}

      {% if site.linkedin != "" %}
        <a href="{{ site.linkedin }}" class="hover:text-blue-500">LinkedIn</a>
      {% endif %}

      {% if site.linkedin != "" %}
        <a href="{{ site.framework }}" class="hover:text-blue-500">Eleventy</a>
      {% endif %}

      {% if site.linkedin != "" %}
        <a href="{{ site.template }}" class="hover:text-blue-500">Template</a>
      {% endif %}
    </p>

  </div>
</footer>

