<header>
  <nav>
    <a href="/" class="logo-conteiner">
      <img src="/images/dark-logo.svg" alt="logo" id="dark-logo"/>
      <img src="/images/light-logo.svg" alt="logo" id="light-logo"/>
    </a>
    <button id="toggle_button" class="toggle-button" aria-label="Alternar modo escuro">
        <i id="sun_icon"class="fas fa-sun"></i>
        <i id="moon_icon" class="fas fa-moon"></i>
    </button>
    <a href="/sobre/">Sobre</a>
    <a href="/contato/">Contato</a>
  </nav>
</header>
